.container {
	display: flex;
	justify-content: space-between;

	padding: 14px 20px;

	border-bottom: var(--primary-border);

	.title {
		font-size: 1.285rem;
		font-weight: 600;
	}

	div {
		display: flex;
		align-items: center;
		gap: 5px;

		span {
			cursor: pointer;

			color: var(--blue-color);

			font-weight: 700;
		}
	}
}
