.btn {
	width: 100%;

	padding: 8px;

	cursor: pointer;

	transition: background-color 0.3s ease-in-out;

	color: var(--white-color);
	border: 0;
	background-color: var(--blue-color);

	font-family: var(--ff-main);
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.57rem;

	&:hover {
		background-color: #009EFD;
	}
}
