.item {
  display: flex;
  flex-direction: column;

  &__name {
    color: var(--black-color);

    font-size: 0.85rem;
    line-height: 133%;
    mix-blend-mode: normal;

    span {
      color: var(--blue-color);
    }
  }

  &__date {
    color: var(--gray-color);

    font-size: 0.85rem;
    font-weight: 500;
    line-height: 167%;
    mix-blend-mode: normal;
  }
}
