@import "https://fonts.fontstorage.com/import/lato.css";

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ol,
ul,
li,
form,
footer,
header,
nav {
  margin: 0;
  padding: 0;

  vertical-align: baseline;

  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black-color: #212121;
  --blue-color: #3dabf7;
  --white-color: #fff;
  --gray-color: #8494a1;
  --ff-main: "Lato";
  --shadow: 0 5px 20px rgb(14 29 39 / 5%);
  --radius: 3px;
  --primary-border: 1px solid #dfe6eb;
  font-size: 14px;
}

body {
  color: var(--black-color);
  background: #fafcfe;

  font-family: var(--ff-main);
  font-size: 1rem;
}
